/DataCache
/DC_Banking/PlayerDatabase
/BattlEye
*.log
*.ADM
*.RPT
/Users
/ZomBerry/admins.cfg
/Trader/z_Forex.txt
/Trader/TraderAdmins.txt
/Airdrop/*bakup*.json

PermissionsFramework/Permissions/

PermissionsFramework/Players/
